.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: black;
  transition: opacity 0.6s linear 0s;
}

.feinman__link:hover {
  text-decoration: underline;
  opacity: 0.5;}

.feinman__link:active {color: #f00;}