/*======Комментарии Фёдора======*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */}

.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  }

.header__title {
  display: flex;
  align-items: center;
  width:730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;}


.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  font-size: 18px;
  line-height: 25px;}


.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__main-illustration {
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
}

.description {
  display: flex;
  position: relative;
  justify-content: center;
}

.two-columns{
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraf {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin-bottom: 100px;
}


.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
}

.feinman{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
}

.feinman__title {
  text-align: center;
  width: 648px;
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 2;
}

.feinman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 2;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: black;
}

.feinman__img {
  width: 867px;
  height: 637px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.section-title_theme_dark {
  margin-top: 90px;

}

.section-subtitle_theme_dark {
  margin-top: 20px;

}

.table_theme_dark {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  z-index: 2;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 210px;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {

}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
}

.footer {
  display: flex;
  position: relative;
  min-height: 350px;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
}

.footer__column_content_info {
  justify-content: flex-start;
}


.footer__column_content_social {
  justify-content: flex-start;
}
.footer__column-links {
  margin-top: 0px;
  padding-left: 0px;
  list-style: none;
}
.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
}

.logo_place_footer {

  width: 183px;
  height: 35px;
}

a:hover {
  color: #0f0;
  text-decoration: underline;
}
a:active {color: #f00;}
/*
 border: 1px solid red;

.SizePosition_section_title_caufman {
  width: 60%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.SizePosition_section_subtitle_caufman {
  margin-top: 20px;
  margin-bottom: 0px;
}

.SizePosition_table_digits {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.SizePosition_table_kaufman {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  z-index: 2;
}


.SizePosition_cell_kaufman {
  width: 210px;
  margin-top: 80px;
}
*/
