/*======Комментарии Фёдора======*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */}

.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  }

.header__title {
  display: flex;
  align-items: center;
  width:730px;
  margin-left: 64px;

}
.header__title_h1 {
  font-size: 102px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;}

.header__subtitle_p {
  font-size: 18px;
  line-height: 25px;}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__main-illustration {
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
}

.description {
  display: flex;
  position: relative;
  justify-content: center;
}

.two-columns{
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.brief__p {
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784;
}

.main-text__p {
  font-size: 24px;
  line-height: 34px;
}

.main-text__span {
  font-size: 24px;
  line-height: 34px;
}

.digits {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__title {
  display: flex;
  justify-content: center;
}

.section__title__h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 69px
}

.section__subtitle {
  display: flex;
  justify-content: center;
}

.section__subtitle__p {
  font-size: 24px;
  line-height: 34px
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}


.table__cell {


}

.cell__heading {

  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.cell__text {

  font-size: 18px;
  line-height: 1.2;
}

.feinman{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
}

.feinman__title {
  text-align: center;
  width: 648px;
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 120px;
  line-height: 1.15;
  z-index: 2;
}

.feinman__subtitle {
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  z-index: 2;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: black;
}

.feinman__img {
  width: 867px;
  height: 637px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.BlackBackground {
  background-color: black;}
.WhiteText {
  color: white;
}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.kaufman_triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  width: 877px;
  height: 677px;
  z-index: 1;
}

.footer {
  display: flex;
  position: relative;
  min-height: 350px;
}

.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column_heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.content_copyright {
  flex-basis: 711px;
  justify-content: flex-end;
}

.author {
  margin-bottom: 18px;
}

.content_info {
  justify-content: flex-start;
}

.column_link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.content_social {
  justify-content: flex-start;
}

.social_icon {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.ISI {
  margin-right: 10px;
}

.logo_place_footer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 183px;
  height: 35px;
}
/* размеры и положения */
.SizePosition_section_title_digits {
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.SizePosition_section_subtitle_digits {
  margin-top: 20px;
  margin-bottom: 0px;
}

.SizePosition_section_title_caufman {
  width: 60%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.SizePosition_section_subtitle_caufman {
  margin-top: 20px;
  margin-bottom: 0px;
}

.SizePosition_table_digits {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.SizePosition_table_kaufman {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  z-index: 2;
}

.SizePosition_cell_digits {
  width: 250px;
  margin-top: 60px;
}

.SizePosition_cell_kaufman {
  width: 210px;
  margin-top: 80px;
}
